{% extends "base_structure.html"%}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'assetmanager/all.css' %}">
{% endblock %}

       {% block page_title %}
	    All Assets
		{% endblock %}

		{% block first_header %} 
		Hello!
		{% endblock %}

		{% block second_header %}
		All Assets
		{% endblock %}

        {% block content %}
		<div id="asset-table">
        <table>
			<tr>
				<th>Asset Tag</th>
				<th>Display Name</th>
				<th>Serial Number</th>
				<th>Purchase Date</th>
				<th>Purchase Cost</th>
				<th>Assigned To</th>
				<th>Warranty Expiration</th>
				<th>Notes</th>
			</tr>
			{% for asset in assets %}
			<tr>
				<td> <a href="all/{{ asset.asset_tag }}"> {{ asset.asset_tag }} </a> </td>
				<td>{{ asset.display_name }}</td>
				<td>{{ asset.serial_number }}</td>
				<td>{{ asset.purchase_date }}</td>
				<td>{{ asset.purchase_cost }}</td>
				<td>{{ asset.assigned_to }}</td>
				<td>{{ asset.warranty_expiration }}</td>
				<td>{{ asset.notes }}</td>
			</tr>
			{% endfor %}
		</table>
		</div>
		{% endblock %}
