{% extends "base_structure.html"%}
{% load static %}


{% block css_files %}
<link rel="stylesheet" href="{% static 'assetmanager/dashboard.css' %}">
{% endblock %}

{% block page_title %}
Dashboard
{% endblock %}

{% block first_header %} 
Welcome to AssetFlow!!
{% endblock %}

{% block second_header %}
Dashboard
{% endblock %} 

{% block content %}
        <div id="boxone">
            <h3>Number of assets: {{ asset_count }} </h3>  
        </div>

        <div id="boxtwo"> 
            <h3>Value of assets: {{ total_purchase_cost }}</h3>
        </div>
{% endblock %} 