<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asset Management</title>
  </head>
  <body>

    <div>
      <ul>
        <li>
          Dashboard
        </li>
      </ul>

      <p>
        Number of active assets:
      </p>
      
    </div>


    <div>
      <ul>
        <li>
          Assets
        </li>
        <li>
          List of all assets
        </li>
        <li>
          Add an asset
        </li>
      </ul>
    </div>

  </body>
</html>
