table {
  font-family: arial;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #060101;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #92ba94;
}


/* tr:nth-child(even) {
  background-color: #dddddd;
} */